.page-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    section {
        width: 70%;
        line-height: 1.8rem;
    }
    h2 {
        padding: 20px 0;
    }
    p {
        a {
            color: black;
            &:hover {
                color: $third-color;
            }
        }
    }
}