@import "../variables/var";

main {
    display: flex;

    section {
        width: 65%;
    }
}

.realisation {
    margin: 0;
    padding: 20px;
    min-width: 300px;
    max-width: 30%;
    width: 30%;
    height: auto;
    min-height: 100vh;

    @include left-col;

    div {
        border: solid 2px $third-color;
        border-radius: 5%;
        padding: 25px;
        margin: 30px 0;
    }
}

.techno {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.techno li {
    padding: 3px 0;
    color: lighten($third-color, 35);
    flex-wrap: wrap;
}

.article {
    @include index-article;
    text-align: center;

    .who-am-i {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        img {
                height: 150px;
                width: 150px;
                border-radius: 50%;
                margin-right: 50px;
                border: black solid 2px;
                box-shadow: black 3px 6px 10px;
                object-fit: cover;
                transition-delay: 100ms;
                transition-duration: 600ms;
                transition-timing-function: ease-in-out;    

                &:hover {
                    transform: rotate(1turn);
                }
            }
        p {
            width: 90%;
        }
        
    }

    a {
        font-weight: unset;
        &:hover {
            font-weight: bold;
        }
    }
}

.index-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .article {
        flex-grow: 2;
    }
}

@media all and (max-width: 800px)
{
    main {
        .realisation
        {
            min-width: unset;
            max-width: unset;
            width: auto;
            order: 2;
            box-sizing: border-box;
            padding: 0 10px;

            @media all and (max-width: 450px)
            {
                .techno {
                    flex-wrap: wrap;
                    li {
                        padding: 0 5px;
                    }
                }
            }
        }
        .index-flex
        {
            min-width: unset;
            max-width: unset;
            width: auto;
            order: 1;
        }
        .article {
            .who-am-i {
                img {
                    width: 80px;
                    height: 80px;
                    padding: 0;
                    margin-right: 5px;
                }
            }
        }
    }
}