


{% block body %}

<div>
    <p>Prénom ou Pseudo : {{ contact.name }}</p><br/>
    <p>Son E-mail : {{ contact.email }}</p><br/>
    <p>Son Téléphone : {{ contact.phone }}</p> <br/><br/><br/>
    <p>Son Message : {{ contact.message }}</p>
</div>




{% endblock %}
