{% extends 'base.html.twig' %}

{% block body %}
<main class="page-about">
    <section>
        <h2>A propos de moi</h2>
        <p>Passionné d'informatique depuis tout jeune, j'aime énormément bidouiller et réparer tous les appareils électroniques, j'aime surtout comprendre ce qui s'y passe, pourquoi la panne s'est-elle produite, et comment y remedier. <br/>
        J'ai commencé par de petits appareils électroniques, puis j'ai installé mon premier Linux pour résoudre un problème de driver, j'ai appris à utiliser le Shell d'abord sous Ubuntu, puis Debian, Fedora, Raspian puis d'autres distributions, et à naviguer dans les systèmes UNIX</p>
        <p>J'ai toujours été passionné par le developpement informatique, Web particulièrement, la capacité de créer des objets ou des fonctions via des lignes de code, l'opportunité d'amener un projet jusqu'au bout, de bien évidemment suivre le cahier des charges autour des attentes du client, de créer des animations et de donner vie à un site internet.</p>
        <p>Mon expérience à l'école 42 m'a permit d'explorer mes capacités d'endurance dans l'informatique, je peux en effet rester des heures devant mon code, pour comprendre pourquoi ca bug, et comment mon code fonctionne afin de trouver l'erreur, je n'abandonne pas à la première erreur du débugueur ou à la première contrariété.</p>
        <p>Après plusieurs années à vouloir débuter des formations en développement Web, et après plusieurs années à devoir, pour des raisons financières, repousser mes potentielles formations, j'ai enfin pu rejoindre le projet Prep'Apprentissage d'OpenClassrooms et faire ma première ligne droite vers ma nouvelle vie de développement dans laquelle je rêve de m'épanouir depuis si longtemps</p>
        <p>Je suis maintenant à la recherche d'une entreprise pour avancer ma formation OpenClassrooms et gagner encore en compétence, tout en me mettant à la disposition de mon employeur afin de lui apporter mon enthousiasme et mon savoir-faire. <br/> Vous pouvez télécharger mon CV ci-dessous pour l'avoir en fichier PDF ou vous rendre sur la page de <a href="{{ path('cv') }}"> mon cv </a> pour retracer tout mon parcours.</p>
    </section>
</main>

{% endblock %}
