{% extends 'base.html.twig' %}


{% block body %}
<main>
    <aside class="realisation">
        <h3>Mes Réalisations</h3>
        <div>
            <h4>Le Domaine des Terres Noires</h4>
            <p><a href="http://www.lecanecorso.fr" target="_blank" >lecanecorso.fr</a> est un site pour un élevage canin. <br/>Je l'administre moi-même pour l'instant, s'agissant d'une affaire de famille. <br/> </p>
            <p>
            <span class="underline">Les technologies utilisées :</span>
                <ul class="techno">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Sass</li>
                    <li>Javascript</li>
                    <li>PHP</li>
                    <li>Bootstrap</li>
                    <li>Fancybox</li>
                </ul>
            <span class="underline">Les technologies à prévoir :</span>
                <ul class="techno">
                    <li>MySQL</li>
                    <li>Laravel</li>
                    <li>Symfony</li>
                    <li>NodeJS</li>
                </ul>
            </p>
        </div>
        <div>
            <h4>La Romance des Damoiseaux</h4>
            <p><a href="https://damoiseaux.lescigales.org/" target="_blank" >La Romance des Damoiseaux</a> est un site pour un élevage canin
            ayant pour but de remplacer cette version du <a href="http://lewhippet.com" target="_blank">whippet.com</a> <br/> 
            </p>
            <p>
            <span class="underline">Les technologies utilisées :</span>
                <ul class="techno">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Sass</li>
                    <li>Javascript</li>
                    <li>PHP</li>
                    <li>Bootstrap</li>
                    <li>Fancybox</li>
                </ul>
            <span class="underline">Les technologies à prévoir :</span>
                <ul class="techno">
                    <li>MySQL</li>
                    <li>Laravel</li>
                    <li>Symfony</li>
                    <li>NodeJS</li>
                </ul>
            </p>
        </div>
        <div>
            <h4>Réservia</h4>
            <p><a href="https://benoitsouillat.github.io/" target="_blank" >Le Projet Réservia </a> est un projet que je fais et que j'améliore régulièrement durant ma formation d'OpenClassrooms afin d'apprendre à utiliser un maximum de technologie de développement web et d'être le plus autonome possible dans ce métier que j'affectionne. <br/>
            L'objectif de ces exercices étant de coder "from scratch", je n'utilise sur ce projet aucun outil tel que Bootstrap ou Fancybox. <br/> 
            </p>
            <p>
                <span class="underline">Les technologies utilisées :</span>
                <ul class="techno">
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
                <span class="underline">Les technologies à prévoir :</span>
                <ul class="techno">
                    <li>Sass</li>
                    <li>ReactJS</li>
                    <li>NodeJS</li>
                    <li>PHP</li>
                </ul>
            </p>
        </div>
    </aside>
    <section class="index-flex">
        <h1 class="welcome">Bienvenue sur mon portfolio</h1>
        <section class="article">
            <h2>Qui suis-je ? </h2>
            <div class="who-am-i">
                <div>
                    <h4>Souillat Benoît</h4>
                    <p>Développeur Javascript et PHP <br/>
                    à la découverte de nombreux langages, librairies et frameworks du Web.<br/>
                    Passionné d'informatique et des nouvelles technologies</p>
                    <p>En recherche d'alternance : <br/><span>[ {{ onValue }} ]</span></p>
                </div>
                <img id="photo" src="{{ asset('/media/img/moi-resized.jpg')}}" alt="Mon Image de Profil" />
            </div>
        </section>
        <section class="article">
            <h2>Mon Parcours</h2>
            <div>
                <p>Je me suis épanoui en allant faire la piscine de 42 en Juillet 2019, afin de me familiariser avec le code, et surtout pour me retrouver dans un cluster, afin de me retrouver dans un environnement de travail. <br/> Cependant pour des raisons économiques, j'ai dû rapidement retrouver du travail et continuer ma passion pour l'informatique durant mon temps libre </p>
                <p>
                J'ai intégré la formation d'<a href="https://openclassrooms.com/fr" target="_blank" >OpenClassrooms</a> que je souhaitais faire depuis des années. Aussi je m'évertue à réaliser plusieurs projets et à apprendre à maitriser le plus de technologies possibles. <br/></p>
            </div>
        </section>
        <section class="article">
            <h2>Mon GitHub</h2>
            <div>
                <p>Comme tout développeur, je possède mon GitHub qui me permet de travailler rapidement et efficacement, grâce à un accès SSH, et git.</p>
                <p>L'accès à la plupart de mes projets est ouvert sur mon GitHub <br/>
                Afin de partager mes fonctionnalités et d'en apprendre toujours plus grâce à la critique, je mets mes codes disponibles sur la plate-forme.
                </p>
                <p>Retrouvez mon GitHub en cliquant sur <a href="https://github.com/benoitsouillat" target="_blank">ce lien</a></p>
            </div>
        </section>
        <section class="article">
            <h2>Mes plus</h2>
            <div>
                <p>Afin de parfaire mes compétences en développement et d'être le plus utile à ma future entreprise, j'ai évidemment appris à mettre en ligne mon site internet via git ou par le protocole FTP</p>
                <p>J'ai également monté un serveur à domicile pour l'échange des données (même personnelles), afin de créer des sauvegarde grâce à des tâches CRON, configurer Apache2, MySQL (ou PostgreSQL), simuler l'hébergement de mon site web, ou pouvoir y accéder depuis mon propre réseau (sans internet). <br/>
                J'ai également découvert l'outil Docker pour éviter la virtualisation trop lourde sur mes machines, et je me suis renseigné sur les tâches d'un Designer afin de pouvoir travailler mieux avec ce metier.</p>
                <p>Enfin, par passion de découvrir, et de réparer ce qui m'entoure, je sais monter, démonter et nettoyer un PC, toutes mes machines à domicile ont été montées par mes soins.</p>
            </div>
        </section>
    </section>
</main>
{% endblock %}
